.curriculum{
    background-color: var(--color1);
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem;
    gap: 2rem;
}
.curriculum__div{
    flex-wrap: wrap;
    justify-content: center;
    gap:3rem
    
}
.curriculum__h2{
    font-family: var(--font1);
    font-size: 3rem;
    color: var(--color2);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);;
}
.curriculum__h3{
    font-size: 1.7rem;
}
.curriculum__ul{
    flex-direction: column;
    gap:1rem;
}
.curriculum__estudios{
    flex-direction: column;
    gap:1rem;
}
.curriculum-estudios__titulo{
    font-size: 1.2rem;
    font-weight: 600;
}
.curriculum__experiencia{
    flex-direction: column;
    gap:1rem;
}
.curriculum-experiencia__puesto{
    font-size:1.2rem;
    font-weight: 600;
}
.curriculum-experiencia__empresa{
    color: var(--color4);
}