.footer{
    background-color: var(--color5);
    padding:2rem 1.5rem;
    justify-content: space-around;
    align-items: center;
}
.footer__logo{
    flex-direction: column;
    align-items: center;    
}
.footer__logo img{
    mix-blend-mode: multiply;
    width:7rem ; 
}
.footer__contact{
    flex-direction: column;
    gap:1rem;
    .phone{
        gap:0.5rem;
        align-items: center;
    }
    .mail{
        gap:0.5rem;
        align-items: center;
    }
    img{
        width: 1.5rem;
        height: auto;
    }
}
@media (max-width:420px){
    .footer__contact a{
        display:none;
    }
}
.footer__ul{
    display:flex;
    flex-direction: column;
    gap:1rem;
}
.footer__ul img{
    width: 1.5rem;
    height:auto;
        &:hover{
            cursor: pointer;
        }
}