.futuro{
    flex-direction: column;
    gap:3rem;
    padding:2rem 1.5rem;
    align-items: center;
    background-color: var(--color1);
}
.futuro__h2{
    font-family: var(--font1);
    font-size: 2rem;
    text-align: center;
    color:var(--color3);
}
.futuro__ul{
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
}
.futuro__article{
    flex-direction: column;
    gap:0.6rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    align-items: center;
    height: 27rem;
}
.futuro__article img{
    width: 4rem;
}
.futuro__h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.futuro__p{
    max-width: 30ch;
}