.inicio{
    padding: 1.5rem;
    background-image:  linear-gradient(rgba(255, 255, 255, 0.2)),
    url(/styles/images/tossa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inicio__div{
    height: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:1rem;
    border-radius: 5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.inicio__h2{
    font-family: var(--font1);
    color:var(--color2) ;
    font-size: 2.8rem;
    max-width: 21ch;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.inicio__p{
    font-family: var(--font2);
    color:var(--color3);
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}