@media(min-width:1024px){
    html{
        font-size: 16px;
    }

 /* AJUSTES HEADER */

 details{
    display:none;
 }
.header__nav2{
    display:flex;
    justify-content: center;
}
.header-nav2__ul{
    display: flex;
    gap:2rem;
    a{
        font-size: 1.4rem;
    }
}
.header-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows:1fr;
    grid-auto-flow: column;
    align-items: center;
   
}
.header-logo{
    grid-column: 1 / 2;
}
.header__nav2{
    grid-column: 2 / 3;
}
.nav__img{
    grid-column: 3 / 4;
}



/* AJUSTES FOOTER */
.footer__contact{
    flex-direction: row;
}
.footer__ul{
    display:flex;
    flex-direction: row;
}
}