@import url(00-generic/reset.css);
@import url(01-tools/colors\ and\ fonts.css);
@import url(01-tools/containers.css);

@import url(02-elements/header.css);
@import url(02-elements/inicio.css);
@import url(02-elements/futuro.css);
@import url(02-elements/sobre_mi.css);